.fl {
  float: left;
}
.fr {
  float: right;
}
.clear {
  clear: both;
}
body {
  color: #333333;
  position: relative;
  min-width: 1000px;
}
/*框架布局*/
.ivu-layout {
  height: 100vh;
}
.ivu-layout-header,
.ivu-layout-sider {
  background: #00608A;
}
.ivu-layout-header {
  height: 44px;
  line-height: 44px;
  padding: 0 0;
}
.main .content-wrapper {
  padding: 5px;
  overflow: auto;
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
}
/*左侧导航菜单*/
.ivu-menu-submenu-title {
  color: white;
}
.ivu-menu-submenu-title:hover {
  color: white !important;
}
.ivu-menu-light {
  background: transparent;
}
.ivu-menu .ivu-menu-item {
  color: #B9D3E7;
}
.ivu-menu-vertical .ivu-menu-item:hover {
  color: white;
}
.ivu-menu-light.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu) {
  color: white;
  background: #008DF1;
  z-index: 2;
}
.ivu-menu-vertical .ivu-menu-item,
.ivu-menu-vertical .ivu-menu-submenu-title {
  padding: 5px 24px;
}
.ivu-menu-vertical.ivu-menu-light:after {
  content: '';
  display: block;
  width: 0;
  height: 100%;
  background: #dcdee2;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}
.ivu-btn-small {
  margin: 0 1px !important;
  padding: 1px 4px 2px;
}
.slide_drop {
  width: 100%;
  text-align: center;
}
.slide_drop .ivu-select-dropdown {
  top: -4px !important;
  left: 78px !important;
  width: 120px;
}
.ivu-card {
  border-radius: 0;
}
/*header*/
.logo {
  display: inline-block;
  height: 44px;
  padding-left: 32px;
  background-size: auto 38px;
  font-size: 16px;
  color: white;
  margin-left: 25px;
}
.ivu-layout-header .ivu-icon-md-menu {
  margin: 0 20px 0 48px;
  color: white;
  vertical-align: top;
  line-height: 44px;
}
.ivu-breadcrumb {
  display: inline-block;
  margin-left: 10px;
  vertical-align: top;
}
.ivu-breadcrumb span {
  color: white;
}
.ivu-breadcrumb a {
  color: white;
}
.ivu-tooltip-rel i {
  color: white;
  font-size: 25px;
  margin-right: 5px;
}
.header_right {
  display: inline-block;
  float: right;
}
.header_right .header_user {
  display: inline-block;
  color: white;
  font-size: 14px;
  margin-right: 10px;
  position: relative;
}
.header_right .header_user a {
  color: white;
}
.header_right .header_user .ivu-select-dropdown {
  padding: 0;
  margin: 0;
  text-align: center;
  background: #00628A;
  border-radius: 0;
}
.header_right .header_user .ivu-select-dropdown .ivu-dropdown-menu {
  width: 100%;
}
.header_right .header_user .ivu-select-dropdown .ivu-dropdown-menu li {
  color: white;
  border-top: 1px solid #999999;
  cursor: pointer;
}
.header_right .header_user .ivu-select-dropdown .ivu-dropdown-menu li:hover {
  background: #0082BA;
}
.header_right .ivu-tooltip-rel {
  vertical-align: top;
}
/*tags-nav*/
.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.size {
  width: 100%;
  height: 40px;
}
.tags-nav {
  position: relative;
  border-bottom: 1px solid #F0F0F0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
  height: 40px;
}
.tags-nav .close-con {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 32px;
  background: #84C8F2;
  text-align: center;
  z-index: 10;
  color: white;
  line-height: 38px;
}
.tags-nav .btn-con {
  position: absolute;
  top: 0px;
  height: 100%;
  background: #84C8F2;
  z-index: 10;
  line-height: 38px;
  width: 29px;
  text-align: center;
  color: white;
}
.tags-nav .btn-con button {
  padding: 6px 4px;
  line-height: 14px;
  text-align: center;
}
.tags-nav .btn-con.left-btn {
  left: 0px;
}
.tags-nav .btn-con.right-btn {
  right: 32px;
  border-right: 1px solid #F0F0F0;
}
.tags-nav .scroll-outer {
  position: absolute;
  left: 28px;
  right: 61px;
  top: 0;
  bottom: 0;
  box-shadow: 0px 0 3px 2px rgba(100, 100, 100, 0.1) inset;
}
.tags-nav .scroll-outer .scroll-body {
  height: calc(100% - 1px);
  display: inline-block;
  padding: 1px 4px 0;
  position: absolute;
  overflow: visible;
  white-space: nowrap;
  transition: left .3s ease;
}
.tags-nav .scroll-outer .scroll-body .ivu-tag-dot-inner {
  transition: background .2s ease;
}
.tags-nav .scroll-outer .scroll-body .ivu-tag-text {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  overflow: hidden;
  white-space: nowrap;
  word-break: keep-all;
  word-wrap: normal;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}
.tags-nav .contextmenu {
  position: absolute;
  margin: 0;
  padding: 5px 0;
  background: #fff;
  z-index: 1000;
  list-style-type: none;
  border-radius: 4px;
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.1);
}
.tags-nav .contextmenu li {
  margin: 0;
  padding: 5px 15px;
  cursor: pointer;
}
.tags-nav .contextmenu li:hover {
  background: #eee;
}
.tags-nav .scroll-outer {
  position: absolute;
  left: 28px;
  right: 61px;
  top: 0;
  bottom: 0;
  -webkit-box-shadow: 0px 0 3px 2px rgba(100, 100, 100, 0.1) inset;
  box-shadow: 0px 0 3px 2px rgba(100, 100, 100, 0.1) inset;
}
.ivu-tag:first-child i {
  display: none;
}
/*content*/
.full-screen-btn-con {
  display: inline-block;
}
/*表格*/
.ivu-table-cell {
  padding: 0;
}
.ivu-table td,
.ivu-table th {
  height: 30px;
  padding: 0 3px;
}
.ivu-tooltip-rel {
  vertical-align: middle;
}
.ivu-card-head {
  padding: 5px 16px;
  background: #0081BA;
}
.ivu-card-head p {
  color: white;
}
.insert_form {
  padding: 0 0 0 5px;
}
.insert_form .ivu-form-item-content button {
  padding: 1px 6px 2px;
}
.insert_form .org_search .ivu-input-icon-clear {
  right: 50px;
}
.insert_form .org_search .ivu-input-group {
  top: 5px;
}
.insert_form .org_search .search_btn {
  padding: 0 5px;
}
.insert_form .ivu-form-item {
  width: 90px;
  float: left;
  margin-right: 5px;
}
.insert_form .ivu-form-item {
  margin-bottom: 0;
}
.insert_form .ivu-form-item:last-child {
  float: right;
  margin: 0;
  width: auto;
}
.insert_form .ipt01 {
  width: 126px;
}
.ivu-card-body {
  padding: 2px;
}
.ivu-modal-footer .ivu-btn-large {
  padding: 5px 15px 6px;
  font-size: 12px;
}
/*分页*/
.page-div {
  width: 100%;
  display: block;
  margin-top: 5px;
}
.page-div .ivu-select {
  width: 100px;
  position: relative;
}
.page-div .page-btn {
  display: inline-block;
  position: relative;
  bottom: 6px;
  padding-bottom: 3px;
  padding-top: 3px;
  height: 25px;
  border-width: 0px;
  background: transparent;
}
.page-div .ivu-icon-ios-arrow-back,
.page-div .ivu-icon-ios-arrow-forward {
  padding-left: 5px;
  padding-right: 5px;
}
.page-div .ivu-icon-ios-arrow-back:before {
  content: '上一页';
  font-size: 12px;
}
.page-div .ivu-icon-ios-arrow-forward:before {
  content: '下一页';
  font-size: 12px;
}
.page-div .ivu-page {
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
  position: relative;
  top: 2px;
}
.page-div .ivu-page-simple .ivu-page-prev,
.page-div .ivu-page-simple .ivu-page-next {
  height: 25px;
}
.table-btn {
  text-align: right;
  margin-bottom: 5px;
}
/*弹窗 model   */
.ivu-modal-wrap {
  text-align: center;
}
.ivu-modal-wrap::before {
  content: '';
  display: inline-block;
  height: 100%;
  width: 0;
  vertical-align: middle;
}
.ivu-modal {
  display: inline-block;
  vertical-align: middle;
  position: initial;
  text-align: left;
}
.write-model .org_ipt .ivu-icon-ios-close-circle {
  right: 44px;
}
.write-model .orgbtn.ivu-btn-primary {
  padding: 0 5px;
}
.write-model .orgbtn.ivu-btn-primary .ivu-icon {
  font-size: 20px;
  color: #0081BA;
}
.write-model .orgbtn.ivu-btn-primary:first-child {
  border-right: 1px solid #DBDEE2;
  border-radius: 0;
}
.write-model .orgbtn.ivu-btn-primary:first-child + button {
  margin-left: 7px;
}
.write-model .orgbtn:hover {
  background: transparent;
}
.write-model .ivu-form-item-label {
  white-space: pre !important;
}
.write-model .form-btn {
  text-align: right;
  padding: 5px 16px;
  background: #ececec;
}
.write-model .ivu-modal-body {
  padding: 0;
}
.write-model .model_box {
  padding: 10px;
}
.write-model .model_box .sort_number .ivu-form-item-label::before {
  content: '*';
  display: inline-block;
  margin-right: 4px;
  line-height: 1;
  font-family: SimSun;
  font-size: 12px;
  color: #ed4014;
}
.write-model .model_box .sort_number input.add {
  border: 1px solid #ed4014;
}
.write-model .model_box .sort_number .yz {
  display: inline-block;
  line-height: 32px;
  position: absolute;
  right: -100px;
  color: #ed4014;
  top: 0;
}
.ivu-modal-header {
  padding: 5px 16px;
  background: #0081BA;
}
.ivu-modal-header .ivu-modal-header-inner {
  color: white;
}
.ivu-modal-header .ivu-modal-close .ivu-icon-ios-close {
  color: white;
}
.ivu-modal-close {
  top: 0;
  display: none;
}
.ivu-modal-footer {
  padding: 5px 18px;
}
.ivu-modal-footer .ivu-btn-text {
  background: #0081BA;
  border-color: #0081BA;
  color: white;
}
.ivu-modal-footer .ivu-btn-text:hover {
  background: #25A4F4;
}
/*表单提示信息*/
.ivu-form-item-error-tip {
  top: 5px;
  right: 15px;
  display: inline-block;
  width: auto;
  text-align: right;
  padding-right: 10px;
  z-index: 1;
}
.ivu-input-wrapper {
  z-index: 9;
  background: transparent;
}
.ivu-input-wrapper input {
  background: transparent;
}
.ivu-input-number {
  z-index: 9;
  background: transparent;
  width: 100% !important;
}
.ivu-input-number .ivu-input-number-input-wrap {
  background: transparent;
}
.ivu-input-number .ivu-input-number-input-wrap input {
  background: transparent;
}
.ivu-form-item {
  margin-bottom: 12px;
}
.modal_txt1 {
  text-align: center;
  font-size: 20px;
  color: #0081BA;
}
.modal_txt1 span {
  color: #FF2E00;
}